.new-message-page {
  display: flex;
  justify-content: center;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

form > h1 {
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.new-message-form .submit-button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

textarea.message {
  padding: 5px;
}
