body {
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

form > h1 {
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sign-in-button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 1rem;
  background-color: #2196f3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.no-account-msg {
  align-self: center;
  margin-top: 10px;
}

.sign-in-fail-msg {
  color: red;
}
